.container {
  height: 70vh;
  display: flex;
  padding-top: 10vw;
  margin: 5vh 20vh 0vh 20vh;
  background-color: var(--primary-color);
}

.card {
  width: 40vw;
  height: 29vw;
  /* min-height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--third-color);
  margin-left: 10px;
  border-radius: 20px;
}

.card img {
  width: 40vw;
  height: 20vw;
  /* border-radius: 20px; */
}

.card a {
  outline: none;
  text-decoration: none;
  padding: 2vw;
  max-height: 2%;
  color: var(--secondary-color);
  font: 1em;
}
