.container {
  height: 70vh;
  display: flex;
  margin: 20vh 20vh 0vh 20vh;
}

.card {
  width: 40vw;
  height: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: wheat;
  margin-left: 10px;
  border-radius: 20px;
}

.card img {
  width: 40vw;
  height: 20vw;
  /* border-radius: 20px; */
}

.card a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: black;
}

.card a:focus {
    transform: translateX(17px);
}
