.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3vw;
  height: 90vh;
  background-color: var(--primary-color);
}

.me img {
  margin: auto;
  height: 30vw;
  width: 25vw;
  border-radius: 100px;
}

.text {
  width: 40rem;
  margin: 1rem 2rem 0rem 0rem;
}

.text h1, h2 {
    color: var(--secondary-color);
}