.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.container {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--third-color);
  color: var(--secondary-color);
}

.contactame {
  display: flex;
}

.github img {
  width: 1.5rem;
  margin-left: 2rem;
}

.linkedIn img {
  width: 1.5rem;
  margin-left: 2rem;
}

.mail img {
  width: 1.5rem;
  margin-left: 2rem;
}

@media (max-width: 800px) {

  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  
  .container {
    height: 7vw;
  }

}